<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>754728532615-00ka9vphq6njo2jhot3h04n4sev0r1s6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.754728532615-00ka9vphq6njo2jhot3h04n4sev0r1s6</string>
	<key>API_KEY</key>
	<string>AIzaSyBnahzHZUgjuQkjS9OHu28lqAg97bbOGF8</string>
	<key>GCM_SENDER_ID</key>
	<string>754728532615</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.almirtavares.iOSFirebase</string>
	<key>PROJECT_ID</key>
	<string>iosfirebase-5976e</string>
	<key>STORAGE_BUCKET</key>
	<string>iosfirebase-5976e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:754728532615:ios:2bdfc1662af9fdbee35622</string>
</dict>
</plist>